= render :partial => 'personal_info'


#header
  %span invoice for
  %h1= @customer.name
  - unless @invoice.due_at.nil?
    %span issued on
    %h3= @invoice.due_at.to_date.to_s(:long_ordinal)
    %h2= "Invoice Number: #{@invoice.timestamp}"
%p#description= @invoice.description

%table#invoice
  %thead
    %tr
      %td Description
      %td.hours Hours
      %td.rate Rate
      %td.opts
  %tbody
    - @line_items.each do |li|
      %tr
        %td= li.description
        %td.hours= li.hours
        %td.rate= number_to_currency(li.rate)
      
  %tfoot
    %tr#total
      %td Total
      %td.hours= @invoice.total_hours
      %td.rate= number_to_currency(@invoice.total_owed)
      %td.opts

=render :partial => 'personal_info'
