
.my_info.top
  .name 
  .address 
  .contact 

#header
  %span invoice for
  %h1= @customer.name
  - unless @invoice.due_at.nil?
    %span issued on
    %h3= @invoice.due_at.to_date.to_s(:long_ordinal)
%p#description= @invoice.description

- form_for :line_item, :url => customer_invoice_line_items_url(@customer, @invoice) do |f|
  %table#invoice{:cellpadding => "0", :cellspacing => "0", :border => "0"}
    %thead
      %tr
        %td Description
        %td.hours Hours
        %td.rate Rate
        %td.opts
    %tbody
      - @line_items.each do |li|
        %tr
          %td= li.description
          %td.hours= li.hours
          %td.rate= number_to_currency(li.rate)
      
    %tfoot
      %tr#total
        %td Total
        %td.hours= @invoice.total_hours
        %td.rate= number_to_currency(@invoice.total_owed)
        %td.opts

.my_info.top
  .name 
  .address 
  .contact 

