
%h2 Customers
- @customers.each do |customer|
  %div.customer
    %h3= link_to customer.name, customer_path(customer)

    #main
      .invoices
        %h3 Invoices:
        %ul
          - customer.invoices.each do |invoice|
            %li= link_to "#{number_to_currency(invoice.total_owed)} for #{invoice.due_at.to_date.to_s(:long_ordinal) rescue nil}", customer_invoice_url(customer, invoice)
        = link_to "New Invoice", new_customer_invoice_url(customer)
    
    %br
    
    
= render :partial => 'new_customer'
